
head {

}
body {
background-color:#ffffff;
padding:100px;
font-family:georgia, times, serif;
text-align: center;
}

body {
   background-image: url("image/background.gif");}

h1 {
font-family: Courier;
color:#FFD9D9;
padding-top: 2em;
font-size: 1.6em;
}

h2 {
  color: #CCCCFF;
  font-family: Courier;
  font-size: 1em;
  line-height: 0.6em;
  padding-bottom: 5px;
}

h3 {
color:#FFFFFF;
}


p {
color: rgb(255,228,225);
font-family: Courier;
font-size: 1em;
line-height: 0.6em;
padding-bottom: 5px; /*this is the space under my life is building here */
}

a {
font-size: 1.1em;
text-decoration: bold;
color: #ff9999; /* this is the yellow of the link bottons, change it */
line-height: 1.6em;
}


#container{
background-color:#000000;
margin: 100px auto;
padding-top: : 50px;
padding-bottom: 300px;
width: 900px;
}

.navigation {
  padding-top: 1.5em;
}

.navigation li{
display: inline;
color:#FFFFF0;
background-color:#260000; /* this is the button background color grey, change it */
padding: 5px 20px 5px 20px;
list-style: none;
}

.navigation a {
font-size: 1.1em;
text-decoration: bold;
color: #FFFFFF; /* this is the yellow of the link bottons, change it */
}

.img-circle {
    border-radius: 50%;
}
/* add statement */

@media screen and (min-width: 1185px) {
  body {
    padding-right: 0%;
    padding-left: 0%;
  }
}
