
head {

}
body {
background-color:#ffffff;
padding:100px;
font-family:georgia, times, serif;
text-align: center;
}

body {
   background-image: url("image/background.gif");}

h1 {
font-family: serif;
color:#d8f3d8;
padding-top: 2em;
font-size: 1.3em;
}

h2 {
  color: #CCCCFF;
  font-family: Courier;
  font-size: 1em;
  line-height: 0.6em;
  padding-bottom: 5px;
}

h3 {
color:#FFFFFF;
}


p {
color: rgb(255,228,225);
font-family: Courier;
font-size: 1em;
line-height: 1.222em;
padding-bottom: 5px; /*this is the space under my life is building here */
}

a {
font-size: 1.1em;
text-decoration: bold;
color: #ff9999; /* this is the yellow of the link bottons, change it */
line-height: 1.6em;
}


#container{
background-color:#000000;
margin: 100px auto;
padding-top: : 50px;
padding-bottom: 300px;
width: 900px;
}

.navigation {
  padding-top: 1.5em;
}

.navigation li{
display: inline;
color:#FFFFF0;
background-color:#133a13; /* this is the button background color grey, change it */
padding: 5px 20px 5px 20px;
list-style: none;
}

.navigation a {
font-size: 1.1em;
text-decoration: bold;
color: #FFFFFF; /* this is the yellow of the link bottons, change it */
}

.img-circle {
    border-radius: 50%;
}
/* add statement */

@media screen and (min-width: 370px) {
  body {
    padding-right: 5.9459459%; /* 22 / 370 = 0.059459459 */
    padding-left: 5.9459459%; /* 22 / 370 = 0.059459459 */
  }
}
@media screen and (min-width: 625px) {
  html {
    font-size: 1em;
  }
}

@media screen and (min-width: 720px) {
  body {
    padding-right: 11.1111111%; /* 80 / 720 = 0.111111111 */
    padding-left: 11.1111111%; /* 80 / 720 = 0.111111111 */
  }
}

@media screen and (min-width: 920px) {
  /*
   920px / whole screen
   -60px / margins (total)
   275px / column
    17.5px / gutter
   Left-hand column : 275 * 2 + 17.5 = 567.5
   Right-hand column: 275px, offset by 17.5
  */

  #primary { /* left side column */
    width: 55.9883721%;
    float: left;
  }
  #supporting { /* right side column */
    width: 30.9767442%; /* 275 / 860 = 0.319767442 */
    margin-left: 2.0348837%; /* 17.5 / 860 = 0.020348837 */
    float: left;
  }

  .flexbox #content {
    display: flex;
  }
  .flexbox #primary,
  .flexbox #supporting {
    float: none;
    margin: 0;
    width: auto;
  }

  .cssgrid #content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2.0348837%; /* 17.5 / 860 = 0.020348837 */
    grid-column-gap: 35px;
  }
  .cssgrid #primary {
    grid-column: 1 / 3;
  }
  .cssgrid #supporting {
    grid-column: 3 / 4;
  }

  #footer {
    padding-top: 20em;
    clear: both;
    float: none;
  }
}
@media screen and (min-width: 1185px) {
  body {
    padding-right: 0%;
    padding-left: 0%;
  }
}
