
head {

}
body {
background-color:#ffffff;
padding:100px;
font-family:georgia, times, serif;
text-align: center;
}

body {
   background-image: url("image/background.gif");}

h1 {
color:#ADD8E6;
}

h2 {
color:#FFFFFF;
}

h3 {
color:#FFFFFF;
}

p {
color: rgb(255,228,225);
font-size: 1.22em;
padding-bottom: 100px;/* this is the space under my life is building here */
}

a {
font-size: 1.1em;
text-decoration: bold;
color: #001a4d; /* this is the yellow of the link bottons, change it */
}

b {
font-size: 1.1em;
text-decoration: bold;
color: #ffffff; /* this is the yellow of the link bottons, change it */
}

#container{
background-color:#000000;
margin: 100px auto;
padding-top: : 50px;
padding-bottom: 300px;
width: 900px;
}


.navigation li{
display: inline;
color:#FFFFF0;
background-color:#B0C4DE; /* this is the button background color grey, change it */
padding: 5px 15px 5px 15px;
list-style: none;
}

/* add statement */
